.posts {
  &__heading {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
  }
  &__headline {
    font-weight: 700;
    color: $Very-Dark-Blue;
  }
  &__supporting-copy {
    color: $Grayish-Blue;
    font-size: 0.9rem;
    line-height: 1.6;
  }
  @include mQ_desktop {
    &__headline {
      font-size: 3rem;
      padding: 1rem 0;
    }
    &__supporting-copy {
      font-size: 1.05rem;
    }
  }
  .container-custom {
    display: grid;
    grid-template-columns: 2fr 0.75fr;
  }
  .main {
    margin: 2rem 0;
  }
  .aside {
    height: 25rem;
    // border: 1px solid black;
    margin: 4rem 0 0 2rem;
    padding: 2rem 0 0 0;
    overflow-y: scroll;
    position: sticky;
    top: 0;
  }
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  &__item {
    margin-bottom: 0.5rem;
  }
  &__img-holder {
    border-radius: 10px;
  }
  &__description {
    text-align: left;
  }
  &__category {
    color: white;
    background: #000;
    padding: 0.25rem;
  }
  &__category,
  &__publishedAt {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
  }
  &__title {
    font-weight: 700;
    font-size: 1.35rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
  }
  &__snippet {
    padding: 0.5rem 0;
    margin: 0;
  }
}

.posts {
  @include mQ_mobile_only {
    .post-list {
      grid-template-columns: 1fr;
    }
  }
  @include mQ_desktop_only {
    .container-custom {
      grid-template-columns: 1fr;
    }
  }
}
