.results-post {
  &__item {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__img-holder {
    flex-basis: 50%;
    margin-right: 1rem;
    img {
      max-height: 8rem;
    }
  }
  &__description {
    text-align: left;
  }
  &__title {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: capitalize;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
  &__author,
  &__ert,
  &__publishedAt {
    display: block;
  }
  &__snippet {
    display: none;
  }
}

@include mQ_mobile_large {
  .results-post {
    &__item {
      margin: 2rem auto;
      & a:first-child {
        justify-self: end;
      }
    }
    &__snippet {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      padding: 1rem 0 0;
    }
    &__img-holder {
      img {
        max-height: 12rem;
        max-width: 18rem;
      }
    }
    &__title {
      font-size: 1.25rem;
    }
    &__author,
    &__ert,
    &__publishedAt {
      display: inline;
      font-weight: 700;
    }
  }
}
