* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  text-align: center;
  font-size: $Font-size;
  font-family: $Family;
  display: flex;
  flex-direction: column;
}
.page-content {
  flex: 1;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}

p {
  margin: 0.25rem 0;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.container-custom {
  padding: 1.25rem 1.15rem;
  max-width: 1250px;
  margin: 0rem auto;
}
.mtb-6 {
  margin: 6rem auto 4rem;
}
.mtb-8 {
  margin: 8rem auto 4rem;
}
small {
  font-size: 70%;
}
.con-xl {
  max-width: 1280px;
}
.con-lg {
  max-width: 900px;
}
.con-md {
  max-width: 1280px;
}
