// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
._btn {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  min-width: 5rem;
  border-radius: 6px;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0rem;
  font-family: inherit;
  outline: none;
  box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: 0.3);
  transition: all 0.25s linear;
}
._btn--primary {
  background-color: $Soft-Blue;
  color: white;
  border: none;
  &:hover {
    color: white;
    background-color: transparent;
    border: 2px solid $Soft-Blue;
  }
}
// $Grayish-Blue

._btn--secondary {
  background-color: lighten($color: $Grayish-Blue, $amount: 35);
  border: none;
  color: $Very-Dark-Blue;
  &:hover {
    background-color: transparent;
    color: $Very-Dark-Blue;
    border: 2px solid $Very-Dark-Blue;
  }
}
._btn--accent {
  background-color: $Soft-Red;
  color: white;
  padding: 0.6rem 1.75rem;
  border: none;
  &:hover {
    color: $Soft-Red;
    background-color: white;
    border: 2px solid $Soft-Red;
  }
}
.btn--admin {
  position: fixed;
  z-index: 1000;
  right: 5%;
  bottom: 5%;
  .fa {
    font-size: 2rem;
  }
}
