.blog-details {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    margin: 0.5rem 0;
  }
  ol,
  ul {
    padding-left: 20px;
  }
  ul {
    list-style-type: disc;
  }
  &__header {
    text-align: left;
  }
  &__heading {
    margin: 1rem 0;
  }
  &__title {
    font-weight: 700;
    color: $Very-Dark-Blue;
    text-align: center;
  }
  &__supporting-copy {
    color: $Grayish-Blue;
    font-size: 0.9rem;
    line-height: 1.6;
  }
  &__article {
    text-align: left;
    a {
      color: $Soft-Blue;
      text-decoration: underline;
    }
  }
  &__info {
    font-style: italic;
    color: #666;

    span {
      padding-right: 0.45rem;
      font-weight: 700;
      font-size: 0.75rem;
    }
  }
  .whatsapp_share {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    font-weight: 400;
    color: green;
  }
}
@include mQ_desktop {
  .blog-details {
    &__title {
      font-size: 3rem;
      text-align: left;
    }
    &__supporting-copy {
      font-size: 1.05rem;
    }
    &__info {
      font-style: italic;
      color: #666;
      span {
        font-weight: 700;
        font-size: 1rem;
        padding-right: 1rem;
      }
    }
  }
}
